.container{
    margin: 30px 30px;
    box-sizing: border;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    
}

.content-wrapper {
    display: flex;
    flex-direction: column;
}

@media(min-width: 800px) {
    .content-wrapper {
        flex-direction: row;
    }
    .content-left {
        margin-right: 25px;
        flex: 1 1 60%;
    }
    .content-right {
        flex: 1 1 40%;
    }

}

@media(min-width: 1024px) {
    .container{
        margin: 30px 130px;
    }

}